body{
   margin: 20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif0000000;
}

.frontenddev{
    width: 200px;
   
    border-radius: 5px;
    text-align: center;
}
.dev{
    display: flex;
    border-bottom: 10px solid blue;
    padding: 25px;
    background: yellow;
    width: 480px;
    margin: auto;
    

    
}
.liv{
    
    border: 0px solid blue;
    padding: 10px;
    background: yellow;
    margin: auto;
 

}